@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/*---break---*/
@plugin 'tailwindcss-animate';

@import "tailwindcss";



/*---break---*/

:root {

}

body {
    background: #121212;
    color: #EAEAEA;
    font-family: 'Montserrat', sans-serif !important; /* !important erzwingt die Schrift */

}

body::selection {
    background: #DAA520;
    color: #121212;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    animation: marquee 30s linear infinite;
}

.animate-marquee:hover {
    animation-play-state: paused;
}




/*---break---*/

