@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    --background: #0a0a0a;
    --foreground: #ededed;

}


body, h1, h2, h3, h4, h5, h6, p, div {
    background: var(--background);
    font-family: 'Raleway', sans-serif !important; /* !important erzwingt die Schrift */
}




